/* color 2 */
#pree-wrap .ploader-section {
	background: #26b7e7 !important;
}
.top-area {
  	background: #26b7e7;
}
.top-area .social-icons li i:hover {
	color: #26b7e7;
}
.header-nav ul > li.active > a, .header-nav ul > li > a:hover {
	background: #26b7e7; 
}
.header-nav li > ul > li:hover > a, .header-nav li > ul > li.active > a {
	color: #26b7e7;
}
.header-3 .header-nav ul > li > ul li a:hover, .header-3 .header-nav ul > li.active > ul li.active > ul li.active > a, .header-3 .header-nav ul > li.active > ul li.active > a {
	color: #26b7e7;
}
.header-3.fixedHeader .header-nav ul > li > ul > li > a:hover {
	color: #26b7e7;
}
.sec3-title:before, .sec3-title:after {
	background: #26b7e7;
}
.we-do-3 .we-icons i {
	border: 1px solid #26b7e7;
}
.we-do-3 .doBox:hover i {
	background: #26b7e7;
}
.we-do-3 .doBox:hover h3 {
	color: #26b7e7;
}
.cico-area i {
	background: #26b7e7;
}
.colorize {
	color: #26b7e7;
}
.about-us-3 .img-container:before {
	background: rgba(38,183,231,0.6);
}
.ab-sep {
	background: #26b7e7;
}
.btn-com {
	background: #26b7e7;
}
.banner-2 .banner-btn:hover, .banner-2 .banner-btn:focus {
	color: #ffffff !important;
}
.carousel-single-slide .owl-nav i {
	border: 1px solid #26b7e7;
	color: #26b7e7;
}
.carousel-single-slide .owl-nav i:hover {
	background: #26b7e7;
}
.btn-com:hover, .btn-com:focus {
	color: #26b7e7;
	border: 2px solid #26b7e7;
}
.we-icons i {
	background: #26b7e7;
}
.we-do-2 .we-icons i {
	color: #26b7e7;
}
.ico-sep-h:before, .ico-sep-h:after, .s-list-2 .service-ico:before, .s-list-2 .service-ico:after {
	background: #26b7e7;
}
.ico-sep-h:before, .ico-sep-h:after, .s-list-2 .service-ico:before, .s-list-2 .service-ico:after, .ico-sep-v:before, .ico-sep-v:after {
	background: #26b7e7;
}
.we-seperator {
	background: #26b7e7;
}
.sec-title.sec-2:before {
	background: #26b7e7;
}
.sec-sep:after {
	background: #26b7e7;
}
.service-2 .price-head h3 {
	color: #26b7e7;
}
.service-2 .price-sep {
	background: #26b7e7;
}
.service-2 .btn-com {
	border: 1px solid #26b7e7;
	color: #26b7e7;
}
.service-2 .btn-com:hover, .service-2 .btn-com:focus {
	background: #26b7e7 !important;
}
.service-2 .price-content.price-a {
	background: #26b7e7;
}
.service-2 .price-content.price-a .btn-com:hover i {
	color: #26b7e7;
}
.service-2 .price-content.price-a .btn-com:hover {
	color: #26b7e7 !important;
}
.about-us-2 .about-img-area:before, .about-us-2 .about-img-area:after {
	background: #26b7e7;
}
.h-img-border:before, .h-img-border:after, .l-img-border:before, .l-img-border:after {
	background: #26b7e7;
}
.s-list-2 .service-ico i {
	color: #26b7e7;
}
.s-sep {
	background: #26b7e7;
}
.service-item {
	border: 1px solid #26b7e7;
}
.service-item:hover {
    background: #26b7e7;
}
.service-ico i {
	background: #26b7e7;
}
.service-item:hover i {
	color: #26b7e7;
}
.price-rate .p-currency, .price-rate .price, .price-rate .price-cap {
	color: #26b7e7;
}
.skill-item .skill-lavel {
	background: #26b7e7;
}
.video-tour .popup-link i {
	color: #26b7e7;
}
.services-3 .service-item i {
	border: 1px solid #26b7e7;
}
.portfolio-3 .filter-btn-wrap ul li:first-child {
	border-left: 3px solid #26b7e7;
}
.portfolio-3 .filter-btn-wrap ul li:last-child {
	border-right: 3px solid #26b7e7;
}
.portfolio-3 .filter-btn-wrap ul li {
	border-top: 3px solid #26b7e7;
	border-bottom: 3px solid #26b7e7;
}
#countdown-area {
	background: #26b7e7;
}
.countdown-2 .count-down-list {
	border: 1px solid #26b7e7;
}
.countdown-2 .down-ico i {
	color: #26b7e7;
}
.filter-btn-wrap ul li:hover, .filter-btn-wrap ul li.active {
	background: #26b7e7;
}
.filter-btn-wrap ul li {
	border: 1px solid #26b7e7;
}
.project-style-2 .project-items .ovrly {
	background: #26b7e7;
}
.project-items .ovrly {
	background: rgba(38,183,231,0.6);
}
.project-items .buttons a {
	background: #26b7e7;
}
#testimonials .owl-prev:before, #testimonials .owl-next:before {
	background: #26b7e7;
}
.testimonial-2 .owl-prev:before, .testimonial-2 .owl-next:before {
	color: #ffffff !important;
}
.testimonial-3 .owl-prev:hover:before, .testimonial-3 .owl-next:hover:before {
	color: #26b7e7 !important;
}
.t-content-area h3 {
	color: #26b7e7;
}
.testimonial-2 .owl-dot {
	border: 1px solid #26b7e7;
}
.testimonial-2 .owl-dot.active span {
	background: #26b7e7 !important;
}
.team-items .overly-content p, .team-items .overly-content h3 {
	color: #ffffff;
}
.team-items .overly {
	background: rgba(38,183,231,0.6);
}
.overly-content ul li a {
	background: #26b7e7;
}
#team-area .owl-dot span {
	border: 1px solid #26b7e7;
}
#team-area .owl-dot span {
	border: 1px solid #26b7e7;
}
.owl-dot.active span {
	background: #26b7e7;
}
#team-area .owl-dot span {
	border: 1px solid #26b7e7 !important;
}
#blog-area .owl-dot span {
	border: 1px solid #26b7e7 !important;
}
.team-2 .team-items .overly {
	background: #26b7e7;
}
.team-2 .overly-content ul li a i {
	color: #26b7e7;
}
.team-3 ul li i {
	border: 1px solid #26b7e7;
	color: #26b7e7;
}
.team-3 .team-items:hover .non-overly-content {
	background: #26b7e7;
}
.team-3 .team-items:hover .non-overly-content i:hover {
	color: #26b7e7;
}
#subscribe-area:before {
	background: rgba(38,183,231,0.9);
}
.subs-button {
	background: #26b7e7;
}
.subscribe-3 {
	background: #26b7e7;
}
.address-area-2 .add-content i {
	background: #26b7e7;
}
.author-name i, .post-date i {
	color: #26b7e7;
}
.blog-items .blog-content h3 a:hover {
	color: #26b7e7;
}
.blog-content .btn-com {
	border: 2px solid #26b7e7;
	color: #26b7e7;
}
.blog-items:hover .blog-content {
	background: #26b7e7;
}
#contact-form .has-btn-bg {
	background: #26b7e7;
}
.social-icons li i {
	color: #26b7e7;
	border: 1px solid #26b7e7;
}
.social-icons li:hover i {
	background: #26b7e7;
}
#address-area {
	background: #26b7e7;
}
#search-box {
	border: 1px solid #26b7e7;
}
.categories-list li a {
	border: 1px solid #26b7e7;
	color: #26b7e7;
}
.categories-list li:hover {
	background: #26b7e7;
}
.tags-inline-item {
	border: 1px solid #26b7e7;
}
.tags-inline-item li a {
	border: 1px solid #26b7e7;
	color: #26b7e7;
}
.tags-inline-item li:hover {
	background: #26b7e7;
}
.post-widget-area li {
	border: 1px solid #26b7e7;
}
.post-widget-area li:hover {
	background: #26b7e7;
}
ul.pagi-number li a {
	color: #26b7e7;
	border: 1px solid #26b7e7;
}
ul.pagi-number li a:hover {
	background: #26b7e7;
}
.blog-zone .blog-items:hover .blog-content .btn-com {
	color: #26b7e7;
	border: 2px solid #26b7e7;
}
.blog-zone .blog-items:hover .blog-content .social-icons i, .blog-zone .post-meta span i:hover {
	color: #26b7e7;
}
.blog-zone .blog-items:hover .blog-content .btn-com:hover {
	background: #26b7e7;
}
#single-post-details .author-details {
	background: #26b7e7;
}
#single-post-details blockquote {
	background: #26b7e7;
}
.blog-comment-area h3 {
	border-bottom: 1px solid #26b7e7;
}
.comment-replay a i, .comment-replay a {
  color: #565656;
}
.comment-replay a:hover i, .comment-replay a:hover {
  color: #26b7e7;
}
.blog-comment-area {
	border-bottom: 1px solid #26b7e7;
}
#single-post-details .tag-list li {
	border: 1px solid #26b7e7;
}
#single-post-details .tag-list li a {
	color: #26b7e7;
}
#single-post-details .post-share li {
	border: 1px solid #26b7e7;
}
#single-post-details .post-share li a {
	color: #26b7e7;
}
#single-post-details .tag-list li:hover {
	background: #26b7e7;
}
#single-post-details .post-share li:hover {
	background: #26b7e7;
}
.comment-box .form-submit button {
	background: #26b7e7;
}
.comment-box .form-submit button:hover {
	border: 2px solid #26b7e7;
}
.no-btn-bg {
	border: 2px solid #26b7e7;
}
.no-btn-bg:hover, .no-btn-bg:focus {
	border: 2px solid #26b7e7 !important;
	background: #26b7e7 !important;
}
.recent-items a:hover {
	color: #26b7e7;
}
.footer-2 .recent-items a:hover {
	color: #ffffff;
}
.footer-2 .usefull-link li a:hover {
	background: #ffffff;
/*	border: 1px solid #26b7e7;*/
	color: #26b7e7;
}
.recent-img-contianer i {
	background: #26b7e7;
}
.usefull-link li a:hover {
	color: #26b7e7;
}
.angle {
	border-bottom-color: #26b7e7;
}
.angle:before {
	border-top-color: #26b7e7;
}
.angle:after {
	border-top-color: #26b7e7;
}
.footer-copy-3 .angle i {
	color: #26b7e7;
}
#footer-area {
	border-bottom: 1px solid #26b7e7;
}
.footer-2 .social-icons li i:hover {
	color: #26b7e7;
}
.footer-3 {
	background: #26b7e7 !important;
}
.footer-copy-3 {
	background: #26b7e7 !important;
}
@media (max-width : 575px) {
	.portfolio-3 .filter-btn-wrap ul li	{
		border: 1px solid #26b7e7 !important;
	}
}	